.profile_cont {
  width: 60%;
  height: 96vh;
  margin: 10px auto;
  user-select: none;
  border: 2px solid #2d3748;
  padding: 10px;
  border-radius: 10px;
}

.user_cont {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  text-align: justify;
}

.user_info {
  background-color: #2d3748;
  border-radius: 10px;
  width: 45%;
  text-align: justify;
  text-align: justify;
  padding: 5px;
  text-transform: capitalize;
}

.user_social {
  text-align: justify;
  background-color: #2d3748;
  border-radius: 10px;
  width: 45%;
  padding: 5px;
}

.action_cont {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
}

.action_cont div {
  width: 30%;
  background-color: #2d3748;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.data_cont {
  background-color: #2d3748;
  width: 95%;
  height: 70%;
  margin: 15px auto;
  padding: 5px;
  border-radius: 10px;
  overflow-y: scroll;
  padding-bottom: 5px;
}

.quote_cont {
  width: 90%;
  background-color: #1f1b2c;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}
.action_btn {
  display: flex;
  padding: 5px;
  justify-content: flex-end;
}

.action_btn span {
  cursor: pointer;
  font-size: 25px;
  padding-right: 5px;
}

.data_cont::-webkit-scrollbar {
  display: none;
}

.data_cont {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.follower_cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.follower_card {
  height: 120px;
  margin: 10px;
  width: 150px;
  background-color: #1f1b2c;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
}

.following_card {
  height: 120px;
  margin: 10px;
  width: 150px;
  background-color: #1f1b2c;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.following_card span {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
